<div class="stats-container">
  <!-- <div *ngIf="covidservice.isStats"> -->
    <div *ngIf="covidservice.isStats" class="stats-container">
        <div class="oci-stats stats-container" style="display: block"> 
            <canvas baseChart 
              [data]="pieChartData" 
              [labels]="pieChartLabels" 
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [colors]="pieChartColors"
              [legend]="pieChartLegend">
            </canvas>
          </div>
    </div>
    <div *ngIf="covidservice.isBuild && !covidservice.isStats" covidBuild id="build" class="stats-container bld">
      <!-- <iframe src="{{covidservice.buildUrlHtml}}"></iframe> -->
      <!-- <div (include)="covidservice.buildUrlHtml"></div> -->
    </div>
</div>
