<div class="div-form">
  <div class="div-rows">
    <div class="t-Header-branding">
      <div class="t-Header-logo">
        <span class="apex-logo-text">
          <img class="img-block" src="assets/oracle-logo.png" alt="Oracle"> 
          <span class="logo-name">India Dashboard</span>
        </span>
      </div>
      <i class="far fa-comment-alt" title="feedback" style="color:whitesmoke" (click)="commentOn()">
      </i>
    </div>
    <div id="dashbordBody">
      <div class="topnav">
          <label class="select-btn">Home</label>
      </div>
    </div>
  <div class="t-Body-contentInner">
    <div class="container">
      <div class="row">
        <div class="row-1">
          <label class="row-1 lb">Label Results Summary Page</label>
        </div>
        <div class="row-2"></div>
        <form #myform="ngForm" class="form form-login">
          <div class="nav-date">
            <label class="date-label">Select Country</label>
            <select id="myselectDates" class="date-opt">
              <option value="lastSevenDays">India</option>
              <option value="lastFifteenDays">USA</option>
              <option value="TodaysDate">China</option>
              <option value="lastThirtyDays">Korea</option>
            </select>
          </div>
          <div class="nav-suite-type">
            <label class="suitename-label">Select State</label>
            <select (click)="selectSuiteType()" id="suiteType" class="name-opt">
              <option value="none">Select</option>
              <option value="sanity">Sanity Suite</option>
              <option value="feature">Feature Suite</option>
              <option value="all">All</option>
            </select>
          </div>
          <div *ngIf="isJob" class="nav-suite">
            <label class="suitename-label">Select Suite</label>
            <select (click)="onSuiteChange()" id="myselectNames" class="name-opt">
              <option *ngFor="let job of jobList" value="{{ job.job_val }}">{{ job.job_name }}</option>
            </select>
          </div>
          <div class="go-btn"> 
            <button type="button" id="eachSuiteResult" (click)="onSubmit()" name="go-btn">GO</button>
          </div>
        </form>
        <div class="row-5"></div>
        <form *ngIf="ociuiservice.reportStatus && ociuiservice.avg_time" #mySuiteForm="ngForm" class="form form-login">
          <label class="all-suites">NOTE: Click on stats button to get overall suite health stats.</label>
          <button type="button" id="allSuiteResult" name="show-all"  *ngIf="ociuiservice.reportStatus" (click)="showStats()" class="show-all">OCI STATS</button>
        </form>
      </div>
    </div>
    <div class="col">
      <label class="refresh-label">Last refresh: {{ today | date:'medium' }} </label>
      <ul>
        <li>Click the comment icon on the top title bar to submit Feedback.</li>
        <li>Data is refreshed every 1 minutes.</li>
      </ul>  
    </div>
  </div>
  <app-ociui-reports class="nav-report" *ngIf="isDate  && isSuite"></app-ociui-reports>
  <app-ociui-stats class="nav-stats" *ngIf="ociuiservice.isStats || ociuiservice.isBuild"></app-ociui-stats>
  </div>
</div> 