<div class="div-form">
  <div class="div-rows">
    <div class="t-Header-branding">
      <div class="t-Header-logo">
          <img class="img-block" src="assets/covid.png" alt="Oracle"> 
      </div>
      <span class="logo-name">Covid-19 Dashboard</span>
      <i class="far fa-comment-alt" title="feedback" style="color:whitesmoke" (click)="commentOn()">
      </i>
    </div>
    <div id="dashbordBody">
      <div class="topnav">
          <label class="select-btn">Home</label>
      </div>
    </div>
  <div class="t-Body-contentInner">
    <div class="container">
      <div class="row">
        <div class="row-1">
          <label class="row-1 lb">Corona Worldwide Dashboard </label>
        </div>
        <div class="row-2"></div>
        <form #myform="ngForm" class="form form-login">
          <div class="nav-date">
            <label class="date-label">Select Region</label>
            <select (click)="onUpdateRegion()" id="myselectRegions" class="date-opt">
              <option value="all">All</option> 
              <option *ngFor="let reg of regionList" value="{{ reg }}">{{ reg }}</option>
            </select>
          </div>
          <div *ngIf="this.covidservice.regionalCountry" class="nav-suite-type">
            <label class="suitename-label">Select Country</label>
            <select (click)="selectCountry()" id="country" class="name-opt">
              <option *ngFor="let con of this.covidservice.regionalCountry" value="{{ con.population }}">{{ con.name }}</option>
            </select>
          </div>
          <div *ngIf="!this.covidservice.regionalCountry" class="nav-suite">
            <!-- <label class="suitename-label">Select State</label>
            <select (click)="onSuiteChange()" id="myselectNames" class="name-opt"> -->
              <!-- <option *ngFor="let job of jobList" value="{{ job.job_val }}">{{ job.job_name }}</option> -->
            <!-- </select> -->
          </div>
          <div class="go-btn"> 
            <button type="button" id="eachSuiteResult" (click)="onSubmit()" name="go-btn">GO</button>
          </div>
        </form>
        <div class="row-5"></div>
        <form *ngIf="covidservice.reportStatus && covidservice.avg_time" #mySuiteForm="ngForm" class="form form-login">
          <label class="all-suites">NOTE: Click on stats button to get overall suite health stats.</label>
          <button type="button" id="allSuiteResult" name="show-all"  *ngIf="regionName" (click)="showStats()" class="show-all">OCI STATS</button>
        </form>
      </div>
    </div>
    <div class="col">
      <label class="refresh-label">Last refresh: {{ today | date:'medium' }} </label>
      <ul>
        <li>Click the comment icon on the top title bar to submit Feedback.</li>
        <li>Data is refreshed every 1 minutes.</li>
      </ul>  
    </div>
  </div>
  <app-covid-reports class="nav-report" *ngIf="regionName"></app-covid-reports>
  <!-- <app-covid-stats class="nav-stats" *ngIf="covidservice.isStats || covidservice.isBuild"></app-covid-stats> -->
  </div>
</div> 